<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aust.fyp.pk.project.application.smartaccessrestaurant">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangePhone"></activity>
        <activity android:name=".ChangePassword" />
        <activity android:name=".ChangeEmail" />
        <activity android:name=".ChangeName" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Checkout" />
        <activity android:name=".FoodItemsList" />
        <activity
            android:name=".DashBoard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".QrCodeScanning" />
        <activity
            android:name=".LoginnScreen"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".SignupScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".WelcomeScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>